.Toastify__toast {
    --y: 0;
    position: relative;
    touch-action: none;
    min-height: var(--toastify-toast-min-height);
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: var(--toastify-toast-bd-radius);
    box-shadow: none!important;
    display: flex;
    justify-content: space-between;
    max-height: var(--toastify-toast-max-height);
    font-family: var(--toastify-font-family);
    cursor: default;
    direction: ltr;
    z-index: 0;
    overflow: hidden;
}